body {

    background-color: black;
    background-image: url("https://www.shutterstock.com/image-vector/elevate-your-brand-minimalist-hacker-260nw-2260627949.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    
  }
  
  h1{
    position: sticky;
    top: 0;
    padding: 5px;
    color: rgb(0, 255, 42);
    margin-left: 20px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    z-index: 1;
    
  }

  p,h2{
    color: rgb(0, 255, 42);
    border-left: 6px solid rgb(255, 255, 255);
    margin-left: 80px;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

  h3{
    overflow: scroll;
    color: azure;
    width: 50%;
    height: 100px;
    padding: 15px;
    border: 1px solid #ccc;
  }

  h4{
    display: none;
    background-color: yellow;
    padding: 20px;
    color: green;
  }

  div:hover h5{
    display: block;
    color: green;
  }

  div {
    background-color: lightgrey;
    height: 4000px;
    width: %100;
    border: 15px solid green;
    padding: 50px;
    margin: auto;
    margin-top: 250px;
    text-align: center;
    
  }

  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
    font-size: 100px
  }

